<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <mat-toolbar color="primary">
    <span>
      {{ title }}
    </span>
    <span class="example-spacer"></span>
    <a mat-stroked-button [routerLink]=" ['/profile']" aria-label="Профиль">
      <mat-icon aria-hidden="false" aria-label="Profile">home</mat-icon>
    </a>
    <span class="example-spacer"></span>
    <button mat-stroked-button (click)="onLogin()">
      <mat-icon aria-hidden="false">perm_identity</mat-icon>
    </button>
    <button mat-stroked-button (click)="logout()">
      <mat-icon aria-hidden="false">exit_to_app</mat-icon>
    </button>
    
    <mat-menu #appMenu="matMenu">
      <button mat-menu-item [routerLink]=" ['/about']">О системе</button>
      <button mat-menu-item [routerLink]="['/about/authors']">Об авторах</button>
      <button mat-menu-item [routerLink]="['/settings']">Настройки</button>
    </mat-menu>
    
    <button mat-icon-button [matMenuTriggerFor]="appMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-toolbar>
  
  
  <router-outlet></router-outlet>
</div>
