<span>logged as: {{(user$ | async)?.login}}</span><br/>
<img src="https://dummyimage.com/140x140/999999/ffffff.png"/>
<p>{{(personality$ | async)?.name}}</p>
<p>{{(personality$ | async)?.sex}}</p>
<p>{{(node$ | async | json)}}</p>